@model IEnumerable<Pistolometro.Models.Votacao>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Ranking</h1>

<p>
    <a asp-action="Create">Adicionar o pistolinha ao Ranking</a>
    <div class="row">
        <div class="col-lg-6">
            <h3>
                Período:
                @{ var ini = Model.Select(x => x.Inicio.ToShortDateString()).FirstOrDefault();
                    var fim = Model.Select(x => x.Fim.ToShortDateString()).FirstOrDefault();
                }
                @ini a @fim
            </h3>

        </div>

    </div>

</p>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fim)
                </th>*@
            <th>

                @*@Html.DisplayNameFor(model => model.NomeVencedor)*@
                Nome
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.QuantidadeVotos)*@
                Votos
            </th>
            <th>
                Pistolômetro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fim)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NomeVencedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeVotos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/img/speed.png" alt="pistolometro"/>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
